.app {
  margin: auto;
  max-width: 80%;
}

body {
  /* background-image: url('/images/bodyBackground.jpg'); */
  background-size: 100vw, 100vh;
}

.Header {
  background-color: linen;
}

.Questionaire {
  background-color: lightgoldenrodyellow;
}

.QuestionCategoryGovernment {
  background-color: mediumpurple;
}

.QuestionCategoryClimate {
  background-color: mediumseagreen;
}

.Results {
  background-color: lightsalmon;
}